<div class="layui-upload">
    {% if !DisabledUpload %}
    <button type="button"
            class="layui-btn layui-btn-normal"
            id="{{ID}}"
            data-more="{{More}}"
            data-input-name="{{Name}}"
            data-file-name="{{FileName}}"
            data-accept="{{Accept}}"
            lay-data="{{LayData}}"
            data-action="upload-multiple">
        选择文件
    </button>
    {% endif %}
    <div class="layui-upload-list">
        <table class="layui-table">
            <thead>
            <colgroup>
                <col width="800">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <tr>
                <th>文件</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="list-view-{{ID}}" data-action="upload-multiple-tbody">
            {% if File %}
            <tr>
                <td>
                    <a href="<img src='{{File}}'>" class="_filename" data-action="open" data-title="文件查看" data-type="1" data-width="auto" data-height="95%">
                        <img width="80" height="80" src="{{File}}">
                    </a>
                    <input type="hidden" name="{{Name}}" value="{{File}}">
                </td>
                <td class="file-size">0kb</td>
                <td style="color: #00a0e9">已知文件</td>
                <td>
                    <button class="layui-btn layui-btn-mini disabled layui-hide"></button>
                    {% if !DisabledUpload %}
                    <button class="layui-btn layui-btn-mini layui-btn-danger upload-delete">删除</button>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% for item in Files %}
            <tr>
                <td>
                    <a href="<img src='{{item}}'>" class="_filename" data-action="open" data-title="文件查看" data-type="1" data-width="auto" data-height="95%">
                        <img width="80" height="80" src="{{item}}">
                    </a>
                    <input type="hidden" name="{{Name}}" value="{{item}}">
                </td>
                <td class="file-size">0kb</td>
                <td style="color: #00a0e9">已知文件</td>
                <td>
                    <button class="layui-btn layui-btn-mini disabled layui-hide"></button>
                    {% if !DisabledUpload %}
                    <button class="layui-btn layui-btn-mini layui-btn-danger upload-delete">删除</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--button type="button" class="layui-btn" id="upFile-{{ID}}">开始上传</button-->
</div>